.card {
  padding: 120px;
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
}

.text-center {
  text-align: center;
}

.card-header {
  background-color: #ececec;
  padding: 16px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}

.card-block {
  padding: 16px;

  text-align: center;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px;
}
.card-title {
  margin-bottom: 16px;  
  font-size: 1.6em;
  font-weight: 700;
}

.card-text {
  margin-bottom: 16px;
  color: #4c4c4c;
}


.btn {
  display: inline-block;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  /*max-width: 300px;*/
  color: white;
  background-color: #427cd8;
  text-decoration: none;
  border-radius: 4px 4px 4px 4px;
}

.btn-primary {
}

.card-footer {
  background-color: #ececec;
  padding: 16px;
  border-radius: 0 0 4px 4px;
  text-align: center;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px;
  border-top: none;
}

.text-muted {
  color: #807d7d;
}
